* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

.title {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  color: #fff;
  background-color: #222;
}

.container {
  width: 50vw;
  margin: 0 auto;
}

.image-container {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #444;
}

.image-container img {
  display: block;
  margin: 2rem 0;
  width: 1000px;
  height: 600px;
}

p {
  color: #fff;
  font-weight: bold;
  text-align: center;
}
